/* Variables */
:root{
  --theme-color:  #1abc9c;
}

/* Header, Footer */
.header{
  padding-top:    1rem;
  padding-bottom: 1rem;
  border-bottom:  3px solid var(--theme-color);
  border-radius:  5px;
  display:        flex;
  justify-content:  space-between;
  align-items:    center;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
}
.footer{
  text-align:     right;
  position:       fixed;
  bottom:         0;
  left:           0;
  right:          0;
  height:         1rem;
  margin-top:     1rem;
  padding:        .5rem 0 .5rem 0;
  border-top:     3px solid var(--theme-color);
  border-radius:  5px;
  background-color:white;
  display:        flex;
  justify-content: space-between;
  align-items:    center;
}

/* Theming */
h1{
  text-align:     center;
}
#root{
  min-height:     100vh;
  position:       relative;
}
h1, h2, h3, h4, h5, h6, a{
  color:          var(--theme-color)
}
hr{
  border-color:   var(--theme-color)
}
.App, .header, .footer{
  width:          90%;
  margin:         auto;
}
.App{
  padding-top:3rem;
  padding-bottom: 2.5rem;
}

/* Theme selector */
.theme-selector-container #theme-selector{
  height:         21px;
  margin-left:    10px;
}

/* Buttons */
.btn-theme{
  color:            white;
  background-color: var(--theme-color);
  font-weight:      bold;
  border-radius:    3px;
}

/* Forms */
input[type="text"],textarea{
  width:      90%;
  display:    block;
}

/* Article Lists */
ul.article-list {
  list-style-type:      none;
  padding-inline-start: 0;
}
ul.article-list li{
  margin-bottom:        1rem;
}
ul.article-list li .see-more{
  display:      block;
  text-align:   right;
}

/* Add Comment, Comments, and Other Articles sections*/
.article-below-section{
  display:          flex;
  justify-content:  space-between;
}
.article-below-section > div{
  flex:       1;
  max-width:  49%;
}
.article-below-section  h4{
  margin-bottom: 0;
}
.article-below-section-content{
  border-top:       1px dotted var(--theme-color);
  border-top-style: dashed;
  border-top-right-radius: 16px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .article-below-section{
    flex-direction: column;
  }
  .article-below-section > div{
    max-width:      none;
  }
}